{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class='row'><!--fila-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--columna 1-->      
        <H4>Registrar</H4>
        <div class="card">
            <div class="card-body">
                <form action="/regisEmpleado/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control"
                        placeholder="Codigo Empleado" minlength="5" maxlength="5" required>
                    </div>
                    <div class="form-group py-3" >
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                        placeholder="Nombre Empleado" maxlength="100" required>
                    </div>
                    
                    <div class="form-group ">
                        <input type="text" id="txtape" name="txtape" class="form-control"
                        placeholder="Apellido Empleado" maxlength="50">
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="num" name="num" class="form-control"
                        placeholder="Numero Cel-Telefono" maxlength='10' min="1"  required>
                    </div>
                    
                    <div class="form-group ">
                        <input type="text" id="txtsex" name="txtsex" class="form-control"
                        placeholder="Sexo Empleado" maxlength="250">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtpue" name="txtpue" class="form-control"
                        placeholder="Puesto Empleado" maxlength="250">
                    </div>
                    <div class="form-group ">
                        <input type="floatformat" id="numsal" name="numsal" class="form-control"
                        placeholder="Salario Empleado" min="1" max="100" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdir" name="txtdir" class="form-control"
                        placeholder="Direccion Empleado" maxlength="250">
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div><!--FROMULARIO-->
                </form>
                <!--This is some text within a card body.-->
            </div>
        </div><!--tarjeta-->
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--columna 2-->
        <h4>List Empleado</h4>
        <img class="w-50" src="{% static 'emp.jpg' %}" alt="" width="400" height="400">
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Puesto</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Direccion</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in mEmpleado %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{m.id_empleado}}</td>
                            <td>{{m.nombre}}</td>
                            <td>{{m.apellido}}</td>
                            <td>{{m.numero}}</td>
                            <td>{{m.sexo}}</td>
                            <td>{{m.puesto}}</td>
                            <td>{{m.salario}}</td>
                            <td>{{m.direccion}}</td>
                            <td><a href="selecEmp/{{m.id_empleado}}" class="btn btn-info">Editar</a></td>
                            <td><a href="borrarEmp/{{m.id_empleado}}" class="btn btn-danger">Borrar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock cuerpo %}